{
	"extends": ["eslint-config-airbnb"],
  "rules": {
    "linebreak-style": "off",
    "no-underscore-dangle": "off",
    "class-methods-use-this": "off",
    "one-var": "off",
    "func-names": ["error", "never"],
    "no-console": "off",
    "import/prefer-default-export": "off",
    "max-len": "off",
    "no-param-reassign": "off",
  },
  "globals": {
    "window": true,
    "document": true
  }
}
